# =====================
# = Command Shortcuts =
# =====================
# Use `eza` instead of `ls` with some default options
alias l='eza --color=auto --icons=auto --classify=auto --group-directories-first --header --time-style=long-iso'
alias ls='l'
# Same as above + show all files except "." & ".."
alias la='ls --all'
# Same as above + long list + use powers of 1000 vs. 1024 + ISO time
alias ll='la --long'
# Same as above + sort by modification time
alias lm='ll --modified --sort=modified'
# Same as 'll' above + output as a tree
alias lt='ll --tree --level=2 '

# Make RM [semi]interactive + protect root + verbose
alias rm='rm --preserve-root -Iv'
# Make LN interactive
alias ln='ln -i'
# Make MV interactive + verbose
alias mv='mv -iv'
# Make CP verbose
alias cp='cp -v'

# Terminal control
alias t='wezterm cli set-tab-title'
alias wt='wezterm cli set-window-title'
alias e=exit
alias x=exit
alias q=exit

# alias c="clear"

# alias ssh="ssh -X"

# Cleanup ripgrep output for piping
alias rgc='rg --color=never --no-heading --no-line-number --no-filename'

# Keep bunzip2 decompressed files
alias bunzip2='bunzip2 -k'

# Editor
alias v=nvim

# use bat instead of cat, for previews, etc.
alias cat='bat'
alias fzf='fzf --preview "bat --color=always --style=numbers --line-range=:500 {}"'

# Yazi
alias f='y'
